<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuCaptions - Results</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="{{url_for('index')}}">
                    <img src="{{ url_for('static', filename='logo.png') }}">
                </a>
            </li>
          </ul>
    </nav>
    <div id="bg-image" class="pred"></div>
    <div class="main">
        <div class="app-main">
            <img src="{{url_for('static', filename='file.jpg')}}" class="square">
            <div class="result-text">{{final}}</div>
            <div class="buttons">
                <form action="{{url_for('index')}}">
                    <input type="submit" value="Restart" class="button">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
